.card {
  position: relative;
  top: 90px;
  margin: 0 auto;
  border: 1px solid rgb(43, 18, 227);
  border-radius: 10px;
  display: block;
  padding: 15 auto;
  background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  font-family: "Bacasime Antique", serif;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}
h2 {
  font-size: 20px;
}

h3,
h4 {
  font-size: 16px;
}
#description {
  font-size: 16px;
  text-transform: capitalize;
}
.col-sm-4 {
  font-weight: serif;
  background-color: rgb(237, 229, 238);
}
.col-md-push-6 {
  text-align: left;
}
.col-sm-4 {
  text-align: left;
}
#search-city-input {
  border-radius: 10px;
  background-color: rgba(255, 252, 247, 0.9);
  border: none;
  font-size: 15px;
  padding: 10px;
  width: 430px;
  text-align: right;
}
button {
  background-color: #bb8bf9;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: #fffcf7;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  margin: 5px;
  padding: 8px;
}
button:hover {
  background-color: #ad6aff;
}
#temp-unit1 {
  position: relative;
  font-size: 16px;
  top: -10px;
}
#temp-unit {
  position: relative;
  font-size: 10px;
  top: -6px;
  text-decoration: none;
}

#temp-now {
  font-size: 50px;
  position: relative;
  bottom: -12px;
}
p {
  text-align: center;
  font-size: 12px;
  margin: 0 auto;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.temp-unit {
  text-decoration: none;
}
.real {
  position: relative;
  top: -20px;
  left: 75px;
  margin-left: 30px;
  margin-right: 0px;
  font-size: 14px;
}
#real-feel {
  font-size: 20px;
}
